<kendo-listview
      #listview
      [data]="view"
      (edit)="editHandler($event)"
      (save)="saveHandler($event)"
      (cancel)="cancelHandler($event)"
      (remove)="removeHandler($event)" >
      

      <ng-template
        kendoListViewItemTemplate
        let-dataItem="dataItem"
        let-index="index"
      >
        <div class="product-view k-widget">
          <dl>
            <!-- <dt>Id</dt>
            <dd>{{ dataItem.id }}</dd> -->
            <dt>Name</dt>
            <dd>{{ dataItem.name }}</dd>
            <dt>Email</dt>
            <dd>{{ dataItem.email }}</dd>
            <dt>BirthDate</dt>
            <dd>{{ dataItem.birthdate }}</dd>
            <dt>Age</dt>
            <dd>{{ dataItem.age }}</dd>
          </dl>
          <div class="edit-buttons">
            <button kendoListViewEditCommand>Edit</button>
            <button kendoListViewRemoveCommand>Remove</button>
          </div>
        </div>
      </ng-template>

      <ng-template
        kendoListViewEditTemplate
        let-formGroup="formGroup"
        let-index="index"
      >
        <div class="product-view k-widget">
          <form novalidate [formGroup]="formGroup">
            <dl>
              <dt>name</dt>
              <dd>
                <input
                  type="text"
                  class="k-textbox"
                  formControlName="name"
                />
              
              </dd>
              <dt>birthdate</dt>
              <dd>
                <input
                type="text"
                class="k-textbox"
                  formControlName="birthdate"
                />
              </dd>
              <dt>age</dt>
              <dd>
                <input
                type="text"
                class="k-textbox"
                  formControlName="email"
                />
              </dd>
             
            </dl>
          </form>
          <div class="edit-buttons">
            <button kendoListViewSaveCommand>Save</button>
            <button kendoListViewCancelCommand>Cancel</button>
          </div>
        </div>
      </ng-template>
    </kendo-listview>
  
 