<kendo-grid
[data]="gridView"
[pageSize]="pageSize"
[skip]="skip"
[pageable]="true"
[height]="400"
(pageChange)="pageChange($event)"
(cellClick)="studentDetails($event)"
>
<kendo-grid-column field="id" title="ID"> </kendo-grid-column>
<kendo-grid-column field="name" title="Name"></kendo-grid-column>
<kendo-grid-column field="email" title="Email"> </kendo-grid-column>
<kendo-grid-column field="birthdate" title="BirthDate"></kendo-grid-column>
<kendo-grid-column field="age" title="Age"> </kendo-grid-column>
</kendo-grid>